<footer class="footer">
  <div class="footer__content">

    <!--first row-->
    <div class="footer__row footer__row--1">

      <!--first column-->
      <div class="footer__modules">
        <h3 class="footer__title">Modules</h3>
        <div class="footer__flex">
          <ul class="footer__list">
            <li><a href="#">Buddism</a></li>
            <li><a href="#">Sinhala</a></li>
            <li><a href="#">Chemistry</a></li>
            <li><a href="#">Combined Maths</a></li>
            <li><a href="#">History</a></li>
          </ul>
          <ul class="footer__list">
            <li><a href="#">Biology</a></li>
            <li><a href="#">Physics</a></li>
            <li><a href="#">ICT</a></li>
            <li><a href="#">English</a></li>
            <li><a href="#">Political Science</a></li>
          </ul>
        </div>
      </div>
      <!--first column end-->

      <!--second column-->
      <div class="footer__company">
        <h3 class="footer__title">Company</h3>
        <ul class="footer__list">
          <li><a href="#">About Us</a></li>
          <li><a href="#">Support</a></li>
          <li><a href="#">Become an Author</a></li>
          <li><a href="#">Licensing & Terms</a></li>
        </ul>
      </div>
      <!--second column end-->

      <!--third column-->
      <div class="footer__links">
        <h3 class="footer__title">Join our growing discord community</h3>
        <input type="text" class="footer__input" placeholder="Enter your email to get an invite">
        <div class="footer__social-links">
          <h3>Follow Us</h3>
          <a href="#"><img src="assets/svg/facebook-logo.svg" alt="Facebook logo"></a>
          <a href="#"><img src="assets/svg/instagram-logo.svg" alt="Instagram logo"></a>
          <a href="#"><img src="assets/svg/twitter-logo.svg" alt="Twitter logo"></a>
          <a href="#"><img src="assets/svg/youtube-logo.svg" alt="Youtube logo"></a>
        </div>
      </div>
      <!--third column end-->
      
    </div>
    <!--first row end-->

    <!--second row-->
    <div class="footer__row footer__row--2">
      <div class="footer__buttons">
        <button class="footer__button">Publish Content</button>
        <p class="footer__info-text">Share valueble resources with the community</p>
        <button class="footer__button footer__button--secondary">Join the Team</button>
        <p class="footer__info-text">Become a partner <br> and work with us</p>
      </div>
      <div class="footer__statistics">
        <div>
          <h3>10,994</h3>
          <p>Resources</p>
        </div>
        <div>
          <h3>0,994</h3>
          <p>Exams</p>
        </div>
      </div>
    </div>
    <!--second row end-->

    <!--third row-->
    <div class="footer__row footer__row--3">
      <p>&copy; 2019 EXAM DOCS.LK</p>
      <p class="footer__payment-info">Secure Payments</p>
      <a href="https://www.payhere.lk" target="_blank"><img src="https://www.payhere.lk/downloads/images/pay_with_payhere.png" alt="Pay with PayHere" width="100"/></a>
    </div>
    <!--third row end-->

  </div>
</footer>