$border-color: #e8e9eb;

.footer {
  background-color: var(--background-color-2);
  border-top: 1px solid $border-color;
  position: relative;

  ul {
    list-style: none;
  }

  &__message {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    transform: translateY(-50%);
  }
  
  &__container {
    width: 90%;
    max-width: var(--container-width);
    margin: 0 auto;
  }

  &__contact-btn {
    border: none;
    outline: none;
    background-color: var(--background-color-2);
    font: inherit;
    font-size: 4rem;
    font-weight: 500;
    cursor: pointer;
  }

  &__info {
    width: 90%;
    max-width: var(--container-width);
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    padding: 10rem 0;
    padding-bottom: 7rem;
  }

  &__contact-info {
    display: flex;
    justify-content: space-between;
    width: 40%;
    max-width: 45rem;

    li {
      margin-bottom: 3rem;
      color: var(--foreground-color-4);
      font-weight: 300;
      font-size: 1.5rem;
    }
  }

  &__navigation {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    width: 40%;
    max-width: 50rem;

    ul {
      display: flex;
      width: 100%;
      li {
        flex: 1;
        margin-bottom: 4rem;
        font-size: 1.5rem;
        letter-spacing: .5px;
        cursor: pointer;
      }
    }
  }

  &__social {
    border-top: 1px solid $border-color;
    padding: 6rem 0;
    div {
      width: 90%;
      max-width: var(--container-width);
      margin: 0 auto;
    }
  }

  &__icon {
    margin-right: 4rem;
  }
}