<footer class="footer">
  <div class="footer__message">
    <div class="footer__container">
      <button class="footer__contact-btn">Say Hello</button>
    </div>
  </div>
  
  <div class="footer__info">
    <div class="footer__contact-info">
      <ul>
        <li>Exam Docs C.A.</li>
        <li>Wijerama Rd, 11</li>
        <li>Colombo, Sri Lanka</li>
      </ul>
      <ul>
        <li>VAT-ID: PL7781454968</li>
        <li>PHONE: +94112566443</li>
        <li>contact@examdocslk.com</li>
      </ul>
    </div>
    <div class="footer__navigation">
      <ul>
        <li>Team</li>
        <li>Terms of use</li>
        <li>Privacy policy</li>
      </ul>
      <ul>
        <li>Press</li>
        <li>Culture book</li>
        <li></li>
      </ul>
    </div>
  </div>
  <div class="footer__social">
    <div>
        <img src="assets/svg/facebook-logo.svg" alt="facebook" class="footer__icon">
        <img src="assets/svg/instagram-logo.svg" alt="instagram" class="footer__icon">
        <img src="assets/svg/twitter-logo.svg" alt="twitter" class="footer__icon">
        <img src="assets/svg/youtube-logo.svg" alt="youtube" class="footer__icon">
        <a href="https://www.payhere.lk" target="_blank">
          <img style="transform: translateY(7px);" src="https://www.payhere.lk/downloads/images/pay_with_payhere.png" alt="Pay with PayHere" width="100"/>
        </a>
    </div>
  </div>
</footer>

