.navbar {
  background-color: var(--background-color-2);
  position: relative;
  z-index: 1;

  &__content {
    max-width: var(--container-width);
    width: 90%;
    margin: 0 auto;
    display: flex;
    height: 10rem;
  }

  &__section {
    flex: 1;
    display: flex;
    align-items: center;

    &--left {
      justify-content: flex-start;
    }
    
    &--middle {
      flex: 2;
      justify-content: center;
      @media only screen and (max-width: 1040px) {
        display: none;
      }
    }
    
    &--right {
      flex: 1;
      justify-content: flex-end;
    }
  }

  &__brand {
    display: flex;
    align-items: center;
    
    img {
      width: 2.5rem;
      margin-right: 1rem;
    }
  }

  &__list {
    list-style: none;
    display: flex;
    justify-content: center;
  }

  &__item {
    &:not(:last-child) {
      margin-right: 6rem;
    }
  }

  &__link {
    text-decoration: none;
    color: var(--foreground-color-3);
    font-weight: 500;

    &:hover:not(.navbar__link--active) {
      color: var(--primary-color-1);
    }

    &--active {
      color: var(--foreground-color-1);
    }
  }

  &__button {
    border: none;
    outline: none;
    background-color: var(--primary-color-1);
    font: inherit;
    color: var(--foreground-color-2);
    padding: 1rem 3rem;
    border-radius: 3px;
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: 10rem;

    &:disabled {
      cursor: not-allowed;
    }

    img {
      animation: user-loading 1s linear infinite;
    }
  }
}

@keyframes user-loading {
  to {
    transform: rotate(360deg);
  }
}