<nav class="navbar">
  <div class="navbar__content">
    <div class="navbar__section navbar__section--left">
      <div class="navbar__brand">
        <img src="assets/svg/cube.svg" alt="logo">
        <h3>Exam Docs</h3>
      </div>
    </div>
    <div class="navbar__section navbar__section--middle">
      <ul class="navbar__list">
        <li class="navbar__item">
          <a href="#" class="navbar__link navbar__link--active">Inspiration</a>
        </li>
        <li class="navbar__item">
          <a href="#" class="navbar__link">Challenges</a>
        </li>
        <li class="navbar__item">
          <a href="#" class="navbar__link">Articles</a>
        </li>
        <li class="navbar__item">
          <a href="#" class="navbar__link">Resources</a>
        </li>
        <li class="navbar__item">
          <a href="#" class="navbar__link">More</a>
        </li>
      </ul>
    </div>
    <div class="navbar__section navbar__section--right">
      <button class="button navbar__button" (click)="onSignInClicked()" *ngIf="!(auth.user$ | async)" [disabled]="loading">
        <img src="assets/svg/spinner.svg" alt="spin" *ngIf="loading">
        <p *ngIf="!loading">Sign In</p>
      </button>
      <button class="button navbar__button" (click)="onSignedInClicked()" *ngIf="auth.user$ | async">
        <p *ngIf="!admin">Signed In</p>
        <p *ngIf="admin">Hey Boss</p>
      </button>
    </div>
  </div>
</nav>