*:root {
  --background-color-1: rgb(14, 2, 2);
  --background-color-2: white;
  --background-color-3: #F4F5F7;
  --background-color-4: #E1E2E5;
  --background-color-5: #212123;

  --foreground-color-1: black;
  --foreground-color-2: white;
  --foreground-color-3: #8C8C8C;
  --foreground-color-4: #525c65;

  --primary-color-1: #1488FF;
  --primary-color-2: #0000b4;

  --container-width: 136.4rem;
  --container-width-shrinked: 114rem;

  @media only screen and (max-width: 1400px) {
    --container-width: 114rem;
  }

  --font-1: 'Gilroy', sans-serif;
}