// larsseit
@font-face {
  font-family: 'Larsseit';
  src: url('assets/larsseit/Larsseit-Italic.woff2') format('woff2'),
      url('assets/larsseit/Larsseit-Italic.woff') format('woff');
  font-weight: normal;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Larsseit';
  src: url('assets/larsseit/Larsseit-Bold.woff2') format('woff2'),
      url('assets/larsseit/Larsseit-Bold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Larsseit';
  src: url('assets/larsseit/Larsseit-LightItalic.woff2') format('woff2'),
      url('assets/larsseit/Larsseit-LightItalic.woff') format('woff');
  font-weight: 300;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Larsseit';
  src: url('assets/larsseit/Larsseit-Bold.woff2') format('woff2'),
      url('assets/larsseit/Larsseit-Bold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Larsseit';
  src: url('assets/larsseit/Larsseit-Medium.woff2') format('woff2'),
      url('assets/larsseit/Larsseit-Medium.woff') format('woff');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Larsseit';
  src: url('assets/larsseit/Larsseit.woff2') format('woff2'),
      url('assets/larsseit/Larsseit.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Larsseit';
  src: url('assets/larsseit/Larsseit.woff2') format('woff2'),
      url('assets/larsseit/Larsseit.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Larsseit';
  src: url('assets/larsseit/Larsseit-Thin.woff2') format('woff2'),
      url('assets/larsseit/Larsseit-Thin.woff') format('woff');
  font-weight: 100;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Larsseit';
  src: url('assets/larsseit/Larsseit-Light.woff2') format('woff2'),
      url('assets/larsseit/Larsseit-Light.woff') format('woff');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Larsseit';
  src: url('assets/larsseit/Larsseit-Bold.woff2') format('woff2'),
      url('assets/larsseit/Larsseit-Bold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

// atlas grotesk web
@font-face {
  font-family: 'Atlas Grotesk Web';
  src: url('assets/atlas-grotesk-web/AtlasGroteskWeb-Regular.woff2') format('woff2'),
      url('assets/atlas-grotesk-web/AtlasGroteskWeb-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Atlas Grotesk Web';
  src: url('assets/atlas-grotesk-web/AtlasGroteskWeb-Light.woff2') format('woff2'),
      url('assets/atlas-grotesk-web/AtlasGroteskWeb-Light.woff') format('woff');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Atlas Grotesk Web';
  src: url('assets/atlas-grotesk-web/AtlasGroteskWeb-Black.woff2') format('woff2'),
      url('assets/atlas-grotesk-web/AtlasGroteskWeb-Black.woff') format('woff');
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Atlas Grotesk Web';
  src: url('assets/atlas-grotesk-web/AtlasGroteskWeb-Bold.woff2') format('woff2'),
      url('assets/atlas-grotesk-web/AtlasGroteskWeb-Bold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}