.ais-SearchBox-input {
  border: none;
  outline: none;
  font: inherit;
  font-size: 14rem;
  font-weight: 500;
  background-color: transparent;
  color: inherit;
  border-bottom: 2px solid #353535;
  max-width: 85rem;
  
  &::placeholder {
    color: inherit;
    opacity: 1;
  }
}
