input {
  border: none;
  outline: none;
  font: inherit;
  font-size: 14rem;
  font-weight: 500;
  background-color: transparent;
  color: inherit;
  max-width: 85rem;
  
  &::placeholder {
    color: #464646;
    opacity: 1;
  }
}

.line {
  height: 2px;
  width: 100%;
  background-image: linear-gradient(to right, #353535,var(--background-color-5));
}

input:focus + .line {
  //line when focused
}