.loading {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: var(--background-color-5);
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1;

  &__content {
    position: relative;
    height: 8rem;
    width: 20rem;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &__background {
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background-color: var(--background-color-2);
    border-radius: 1px;
  }

  &__small-background {
    position: relative;
    width: 0;
    height: 4rem;
    margin: 2rem;
    background-color: var(--background-color-5);
    z-index: 1;
  }
  
  &__text {
    text-transform: uppercase;
    letter-spacing: 2px;
    font-weight: 500;
    animation: fadeIn 1s ease backwards;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
}