.newsletter {
  height: 50vh;
  background-color: var(--background-color-2);
  display: flex;
  justify-content: center;
  align-items: center;

  &__content {
    text-align: center;
  }

  &__image {
    height: 8rem;
  }

  &__title {
    font-family: var(--font-2);
    margin-top: 3rem;
  }

  &__input {
    border: none;
    outline: none;
    background-color: var(--background-color-3);
    font: inherit;
    padding: 2rem;
    width: 43rem;
    margin: 2rem 0;
  }

  &__secondary-text {
    color: var(--foreground-color-3);
  }
}