.newsletter {
  height: 55rem;
  background-color: var(--background-color-2);
  display: flex;
  justify-content: center;
  align-items: center;

  &__content {
    text-align: center;
    transform: translateY(-2rem); // looks a little better like this
  }

  &__image {
    height: 8rem;
  }

  &__title {
    margin-top: 3rem;
    font-weight: 400;
  }

  &__input {
    border: none;
    outline: none;
    background-color: var(--background-color-3);
    font: inherit;
    padding: 2rem;
    width: 43rem;
    margin: 2rem 0;
  }

  &__secondary-text {
    color: var(--foreground-color-3);
    font-weight: 300;
  }
}