<div class="creator">
  <img src="https://images.unsplash.com/photo-1459194504307-19b43e3c6ef4?ixlib=rb-1.2.1&auto=format&fit=crop&w=634&q=80" alt="bk" class="creator__header">
  <div class="creator__content">
    <!--form content-->
    <div class="creator__card">
      <form class="form">
        <div class="form__flex">
          <div class="form__group">
            <label class="form__label" for="author-name">Author's Name</label>
            <input type="text" class="form__control" id="author-name">
          </div>
          <div class="form__group">
            <label class="form__label" for="author-email">Email Address</label>
            <input type="email" class="form__control" id="author-email">
          </div>
        </div>
        <div class="form__group">
          <label for="title" class="form__label">Title*</label>
          <input type="text" class="form__control" id="title" placeholder="Please specity...">
        </div>
        <div class="form__group">
          <label for="description" class="form__label">Summary</label>
          <textarea id="description" rows="4" class="form__control" placeholder="Short description about the topic..."></textarea>
        </div>
        <div class="form__group">
          <button class="form__submit-btn" type="submit">Submit</button>
        </div>
      </form>
    </div>
    <!--form content end-->
  </div>
</div>