<header class="header">
  <div class="header__content">
    <div class="header__text">
      <h1>
        Your ultimate goto platform for finding resources for your examination
      </h1>
      <p>
        Access thousands of articles, papers, answer sheets, news and the biggest resource collection dedicated to your exam needs.
      </p>
      <button>
        Start your search
      </button>
    </div>
    <div class="header__image">
      <img src="assets/svg/header.svg" alt="header illustration">
    </div>
    <p class="header__copyright">
      By clicking search, you agree to our <a href="#" class="header__link">terms</a> and <a href="#" class="header__link">license</a> agreement
    </p>
  </div>
</header>