@import 'theme/typography';
@import 'theme/resources';
@import 'theme/algolia';

* {
  margin: 0;
  padding: 0;

  // todo
  &::-webkit-scrollbar {
    width: 0;
  }
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
}

body {
  font-family: var(--font-1), sans-serif;
  font-size: 1.6rem;
  overflow-x: hidden;
  box-sizing: border-box;
  background-color: var(--background-color-3);
}