// @import 'https://fonts.googleapis.com/css?family=Product+Sans:100,100i,300,300i,400,400i,500,500i,700,700i,900,900i';
@import 'theme/resources';
@import 'theme/algolia';

* {
  margin: 0;
  padding: 0;

  // todo
  &::-webkit-scrollbar {
    width: 0;
  }
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
}

body {
  font-family: var(--font-1), sans-serif;
  font-size: 1.6rem;
  overflow-x: hidden;
  box-sizing: border-box;
  background-color: var(--background-color-3);
}