.search {
  width: 100vw;
  position: absolute;
  top: 0;
  left: 0;
  background-color: var(--background-color-5);
  color: var(--foreground-color-2);
  z-index: 1;

  &__navbar {
    width: 90%;
    max-width: var(--container-width);
    margin: 0 auto;
    display: flex;
    align-items: center;
    height: 10rem;

    div {
      margin-right: auto;
      display: flex;
      align-items: center;

      img {
        width: 2.5rem;
        margin-right: 1rem;
      }

      h3 {
        transform: translateY(3px);
      }
    }

    button {
      border: none;
      outline: none;
      background-color: transparent;
      color: inherit;
      font: inherit;
      margin-right: 6rem;
      cursor: pointer;

      &:last-child {
        margin-right: 0;
        border-bottom: 2px solid currentColor;
      }
    }
  }

  &__content {
    min-height: calc(100vh - 20rem);
    width: 90%;
    max-width: var(--container-width);
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    padding: 13% 10rem 0 10rem;
  }

  &__hint {
    padding-top: 3rem;
    margin-bottom: 5rem;
    color: var(--foreground-color-3);
    span {
      color: var(--foreground-color-2);
    }
  }

  &__result {
    display: flex;
    margin-bottom: 3rem;

    img {
      width: 22rem;
      height: 16rem;
      object-fit: cover;
    }

    div {
      margin-left: 3rem;
      display: flex;
      flex-direction: column;
      align-items: flex-start;

      p {
        color: var(--foreground-color-3);
        font-size: 1.5rem;
      }

      & > * {
        margin-bottom: .5rem;
      }
    }

    button {
      border: none;
      outline: none;
      background-color: var(--primary-color-2);
      font: inherit;
      color: var(--foreground-color-2);
      padding: 1rem 1.5rem;
      margin-top: .5rem;
      cursor: pointer;
    }
  }

  &__footer {
    width: 90%;
    max-width: var(--container-width);
    margin: 0 auto;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    height: 10rem;
    opacity: .5;
    font-size: 1.4rem;

    p { margin-right: 1rem; }
    img { height: 2rem; }
  }
}