<div class="search">

  <div class="search__navbar">
    <div>
      <img src="assets/svg/cube.svg" alt="logo">
      <h3>Exam Docs</h3>
    </div>
    <button>Read more about our Search Engine</button>
    <button (click)="onCloseButtonClicked()">CLOSE</button>
  </div>

  <div class="search__content">
    <ais-instantsearch [config]="algoliaConfig">
      <app-debounced-search-box [delay]="1000"></app-debounced-search-box>
      <div class="search__hint">
        <p>Press <span>ENTER</span> to search</p>
      </div>
      <ais-hits>
        <ng-template let-hits="hits" let-results="results">
          <div *ngIf="hits.length === 0 && results.query">
            No matching results found for <strong>{{ results.query }}</strong>.
          </div>
          <div *ngIf="results.query">
            <div *ngFor="let hit of hits" class="content">
              <div class="search__result">
                <img [src]="hit.imageURL" [alt]="hit.objectID">
                <div>
                  <p>3 days ago by Exam Docs</p>
                  <h3>{{hit.title}} {{hit.objectID}}</h3>
                  <ais-highlight attribute="title" [hit]="hit"></ais-highlight>
                  <button *ngIf="hit.price === 0">Explore</button>
                  <button *ngIf="hit.price !== 0">Buy Now {{hit.price | currency}}</button>
                </div>
              </div>
            </div>
          </div>
        </ng-template>
      </ais-hits>
    </ais-instantsearch>
  </div>

  <div class="search__footer">
    <p>Press ESC to cancel</p> |
    <p>Search By Algolia</p>
  </div>
  
</div>