<section class="showcase">
  <div class="showcase__filters">
    <button class="showcase__filter showcase__filter--active">Featured</button>
    <button class="showcase__filter">Newly Released</button>
    <button class="showcase__filter">Articles</button>
    <button class="showcase__filter">On Sale</button>
  </div>
  <div class="showcase__items">
    <div class="card" *ngFor="let post of posts | async">
      <img [src]="post.imageURL" alt="item ixid" class="card__image">
      <div class="card__content">
        <div>
          <h3 class="card__title">{{ post.title }}</h3>
          <p class="card__details">3hr ago by Quantum in UIKits</p>
        </div>
        <div>
          <h3 class="card__price">{{ post.price ? post.price : 'Free' }}</h3>
        </div>
      </div>
    </div>
  </div>
  <div class="showcase__options">
    <button class="showcase__button">
      See More Posts
    </button>
  </div>
</section>