.showcase {
  &__filters {
    width: 90%;
    max-width: var(--container-width);
    margin: 0 auto;
    padding: 5rem 0;
  }

  &__filter {
    border: none;
    outline: none;
    font: inherit;
    padding: 1rem 1.2rem;
    background-color: transparent;
    color: var(--foreground-color-3);
    cursor: pointer;
    margin-right: 1rem;

    &:hover:not(.showcase__filter--active) {
      color: var(--primary-color-1);
    }

    &--active {
      background-color: var(--background-color-2);
      color: var(--foreground-color-1);
    }
  }

  &__items {
    width: 90%;
    max-width: var(--container-width);
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }

  &__options {
    width: 90%;
    max-width: var(--container-width);
    margin: 0 auto;
    display: flex;
    justify-content: center;
  }

  &__button {
    border: none;
    outline: none;
    background-color: var(--primary-color-1);
    font: inherit;
    color: var(--foreground-color-2);
    padding: 1rem 3rem;
    border-radius: 3px;
    margin: 2rem 0 6rem 0;
  }
}

.card {
  background-color: var(--background-color-2);
  width: calc(25% - 3rem);
  margin-right: 1rem;
  margin-bottom: 4rem;
  border-radius: 3px;
  overflow: hidden;

  &__image {
    width: 100%;
    height: 25rem;
    object-fit: cover;
  }

  &__content {
    padding: 1.5rem;
    display: flex;
    justify-content: space-between;
  }

  &__title {
    font-size: 1.6rem;
    margin-bottom: .5rem;
  }

  &__details {
    font-size: 1.5rem;
    color: var(--foreground-color-3);
  }

  &__price {
    color: var(--primary-color-1);
    font-size: 1.6rem;
  }
}